html
{
    height:100%;
}

body
{
    background-color: rgb(231, 230, 230);
    color:rgb(164, 164, 164);
}

#HeadingBlock
{
    margin:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 252, 255);
    border:1px solid silver;
    box-shadow: inset 0 0 4px  silver ;
}

#HeadingBlock .Heading
{
    color:rgb(151, 149, 149);
    font-weight:3rem;
    font-size:3rem;
    text-align: center;
}

#HeadingBlock .HeadingBody
{
    text-align:center;
    color:rgb(164, 164, 164);
}

form
{
    background-color: rgb(250, 252, 255);
    margin: 2rem;
    margin-top: 1rem;
    border:1px solid silver;
    box-shadow: inset 0 0 4px  silver ;
}

legend
{
    background-color:rgb(151, 149, 149);
    color:white;
}

fieldset
{
    margin-top: 5px;
}

.PersonalDetBod
{
    display:flex;
    text-align: center;
    flex-direction: column;
}

.ConferenceBod
{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.AbsDisc
{
    padding-left:7em;
}

textarea
{
    resize: none;
}

.AbstractC
{
    display: flex;
    flex-direction: column;
}

#inside
{
    display:flex;
    justify-content: center;
    gap:0.5em;
}

button
{
    background-color: rgb(29, 107, 252);
    color:white;
    min-width: 6rem;
    min-height: 2rem;
}
.button
{
    display:flex;
    justify-content: center;
}